This model uses the popularity attribute as well as the average rating and voter count in the TMDB data to generate popular movies genre wise. The genres are determined using the IMDB data.

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from ast import literal_eval

In [ ]:
movies = pd.read_csv("movies_tmdb.csv")

In [ ]:
movies.sort_values(by='popularity', ascending=False)

,Unnamed: 0,movieId,genres,overview,popularity,release_date,tagline,title,vote_average,vote_count
32753,32753,135887,"['Adventure', 'Animation', 'Children', 'Comedy']","Minions Stuart, Kevin and Bob are recruited by...",547.488298,2015-06-17,"Before Gru, they had a history of bad bosses",Minions,6.4,4729.0
35929,35929,143355,"['Action', 'Adventure', 'Fantasy']",An Amazon princess comes to the world of Man t...,294.337037,2017-05-30,Power. Grace. Wisdom. Wonder.,Wonder Woman,7.2,5025.0
46747,46747,168366,"['Fantasy', 'Romance']",A live-action adaptation of Disney's version o...,287.253654,2017-03-16,Be our guest.,Beauty and the Beast,6.8,5530.0
48325,48325,171763,"['Action', 'Crime', 'Thriller']",After being coerced into working for a crime b...,228.032744,2017-06-28,All you need is one killer track.,Baby Driver,7.2,2083.0
25016,25016,115617,"['Action', 'Animation', 'Comedy']",The special bond that develops between plus-si...,213.849907,2014-10-24,From the creators of Wreck-it Ralph and Frozen,Big Hero 6,7.8,6289.0
...,...,...,...,...,...,...,...,...,...,...
58123,58123,193876,['(no genres listed)'],NaN,NaN,NaN,NaN,NaN,NaN,NaN
58124,58124,193878,['Comedy'],NaN,NaN,NaN,NaN,NaN,NaN,NaN
58125,58125,193880,['Drama'],NaN,NaN,NaN,NaN,NaN,NaN,NaN
58126,58126,193882,"['Adventure', 'Drama', 'Horror', 'Sci-Fi']",NaN,NaN,NaN,NaN,NaN,NaN,NaN
58127,58127,193886,"['Action', 'Crime', 'Drama']",NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Genres

 'Adventure'<br>
 'Animation'<br>
 'Children'<br>
 'Comedy'<br>
 'Fantasy'<br>
 'Romance'<br>
 'Drama'<br>
 'Action'<br>
 'Crime'<br>
 'Thriller'<br>
 'Horror'<br>
 'Mystery'<br>
 'Sci-Fi'<br>
 'War'<br>
 'Musical'<br>
 'Documentary'<br>
 'IMAX'<br>
 'Western'<br>
 'Film-Noir'<br>
 '(no genres listed)'<br>

In [ ]:
genres = {'Adventure': 0,
 'Animation': 1,
 'Children': 2,
 'Comedy': 3,
 'Fantasy': 4,
 'Romance': 5,
 'Drama': 6,
 'Action': 7,
 'Crime': 8,
 'Thriller': 9,
 'Horror': 10,
 'Mystery': 11,
 'Sci-Fi': 12,
 'War': 13,
 'Musical': 14,
 'Documentary': 15,
 'IMAX': 16,
 'Western': 17,
 'Film-Noir': 18,
 '(no genres listed)': 19}

In [ ]:
def genre_based_popularity(genre):
    mask = movies.genres.apply(lambda x: genre in x)
    filtered_movie = movies[mask]
    filtered_movie = filtered_movie.sort_values(by='popularity', ascending=False)
    return filtered_movie

In [ ]:
genre_based_popularity('Animation')[['title', 'popularity']].head(25)

                                          title  popularity
32753                                   Minions  547.488298
25016                                Big Hero 6  213.849907
47929  Captain Underpants: The First Epic Movie   88.561239
5522                              Spirited Away   41.048867
48707                           Despicable Me 3   36.631519
45789                            A Silent Voice   34.852055
44363                                Your Name.   34.461252
50057                           The Emoji Movie   33.694599
4793                             Monsters, Inc.   26.419962
39518                                  Zootopia   26.024868
6275                               Finding Nemo   25.497794
21452                           Despicable Me 2   24.823550
22453                                    Frozen   24.248243
32314                                Inside Out   23.985587
589                        Beauty and the Beast   23.433511
1997                            The Jungle Book   22.845448
15608                             Despicable Me   22.274502
8282                            The Incredibles   22.220214
25825                    Penguins of Madagascar   22.201607
0                                     Toy Story   21.946943
360                               The Lion King   21.605761
1826                                      Mulan   21.180857
50411                            In a Heartbeat   20.821780
11645                               Ratatouille   20.508030
43194                 Ice Age: Collision Course   20.151037

In [ ]:
genre_based_popularity('Romance')[['title', 'popularity']].head(25)

                                           title  popularity
46747                       Beauty and the Beast  287.253654
48996                              The Bad Batch   78.807200
352                                 Forrest Gump   48.307194
2242                           Life Is Beautiful   39.394970
45789                             A Silent Voice   34.852055
44363                                 Your Name.   34.461252
10378                Dilwale Dulhania Le Jayenge   34.457024
39487                              Me Before You   34.347590
15542                 The Twilight Saga: Eclipse   34.047399
28859                       Fifty Shades of Grey   33.068431
13221                                   Twilight   31.282029
14532                The Twilight Saga: New Moon   30.121292
46900                        Fifty Shades Darker   29.130443
1663                                     Titanic   26.889070
20061  The Twilight Saga: Breaking Dawn - Part 2   26.080995
18345  The Twilight Saga: Breaking Dawn - Part 1   25.972500
22453                                     Frozen   24.248243
589                         Beauty and the Beast   23.433511
46727                               The Big Sick   23.424794
22895                                  Divergent   21.572585
5222                                      Enigma   21.520641
1826                                       Mulan   21.180857
50411                             In a Heartbeat   20.821780
2775                             American Beauty   20.726578
20705                        Beautiful Creatures   20.485203

In [ ]:
genre_based_popularity('Action')[['title', 'popularity']].head(25)

                                                   title  popularity
35929                                       Wonder Woman  294.337037
48325                                        Baby Driver  228.032744
25016                                         Big Hero 6  213.849907
27573                                           Deadpool  187.860492
27578                     Guardians of the Galaxy Vol. 2  185.330992
14661                                             Avatar  185.070892
24908                                          John Wick  183.870374
48999                     War for the Planet of the Apes  146.161786
27579                         Captain America: Civil War  145.882135
12566                                    The Dark Knight  123.167259
537                                         Blade Runner   96.272374
18006                                       The Avengers   89.887648
47929           Captain Underpants: The First Epic Movie   88.561239
24656                                    The Maze Runner   76.937890
47501                                    Alien: Covenant   72.884078
46852                                 Ghost in the Shell   68.726676
47945                               Boyka: Undisputed IV   67.955052
2876                                          Fight Club   63.869599
27577                                     Thor: Ragnarok   57.283628
46690                                              Logan   54.581997
24252                            Guardians of the Galaxy   53.291601
43424                                      The Last King   50.949523
46688                               John Wick: Chapter 2   49.247505
47898                            The Fate of the Furious   48.573287
6433   Pirates of the Caribbean: The Curse of the Bla...   47.326665

## Calculate the weighted rating

In [ ]:
# this is V
vote_counts = movies[movies['vote_count'].notnull()]['vote_count'].astype('int')

# this is R
vote_averages = movies[movies['vote_average'].notnull()]['vote_average'].astype('int')

# this is C
C = vote_averages.mean()
C

5.246875482178676

In [ ]:
m = vote_counts.quantile(0.95)
m

434.0

In [ ]:
def weighted_rating(x):
    v = x['vote_count']
    R = x['vote_average']
    return (v/(v+m) * R) + (m/(m+v) * C)

In [ ]:
movies['wr'] = movies.apply(weighted_rating, axis=1)

In [ ]:
movies.head()

,Unnamed: 0,movieId,genres,overview,popularity,release_date,tagline,title,vote_average,vote_count,wr
0,0,1,"['Adventure', 'Animation', 'Children', 'Comedy...","Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,NaN,Toy Story,7.7,5415.0,7.517976
1,1,2,"['Adventure', 'Children', 'Fantasy']",When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,6.647996
2,2,3,"['Comedy', 'Romance']",A family wedding reignites the ancient feud be...,11.712900,1995-12-22,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,5.466053
3,3,4,"['Comedy', 'Drama', 'Romance']","Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,5.308855
4,4,5,['Comedy'],Just when George Banks has recovered from his ...,8.387519,1995-02-10,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,5.376020

In [ ]:
def genre_based_popularity_PT(genre):
    mask = movies.genres.apply(lambda x: genre in x)
    filtered_movie = movies[mask]
    filtered_movie = filtered_movie.sort_values(by='wr', ascending=False)
    return filtered_movie

In [ ]:
genre_based_popularity_PT('Animation')[['title', 'wr', 'popularity']].head(10)

                      title        wr  popularity
5522          Spirited Away  7.998988   41.048867
360           The Lion King  7.799319   21.605761
32314            Inside Out  7.739429   23.985587
9763   Howl's Moving Castle  7.683828   16.136048
2917      Princess Mononoke  7.682159   17.166725
13821                    Up  7.651904   19.330884
12789                WALLÂ·E  7.638781   16.088366
25016            Big Hero 6  7.635184  213.849907
44363            Your Name.  7.535617   34.461252
0                 Toy Story  7.517976   21.946943

In [ ]:
genre_based_popularity_PT('Action')[['title', 'wr', 'popularity']].head(25)

                                               title        wr  popularity
12566                                The Dark Knight  8.195690  123.167259
2876                                      Fight Club  8.168962   63.869599
15616                                      Inception  8.014656   29.108149
1173                         The Empire Strikes Back  8.000738   19.470959
7045   The Lord of the Rings: The Return of the King  7.957014   29.324358
290                           Leon: The Professional  7.928865   20.477329
257                                        Star Wars  7.928306   42.149697
24252                        Guardians of the Galaxy  7.789792   53.291601
2489                                      The Matrix  7.778960   33.366332
13700                           Inglourious Basterds  7.736255   16.895640
17617   Harry Potter and the Deathly Hallows: Part 2  7.724874   24.990737
3490                                       Gladiator  7.708091   23.186667
20302                               Django Unchained  7.696743   19.785025
1947                             Saving Private Ryan  7.693720   21.758054
2917                               Princess Mononoke  7.682159   17.166725
1186                              Return of the Jedi  7.678438   14.586087
1178                  The Good, the Bad and the Ugly  7.658554   16.788787
4171                                        Scarface  7.653765   11.299673
5921                                     City of God  7.639346   14.959270
25016                                     Big Hero 6  7.635184  213.849907
537                                     Blade Runner  7.630149   96.272374
1184                                  Apocalypse Now  7.530693   13.596300
6768                               Kill Bill: Vol. 1  7.507302   25.261865
39518                                       Zootopia  7.502659   26.024868
18450                          The Dark Knight Rises  7.494683   20.582580

In [ ]:
genre_based_popularity_PT('Romance')[['title', 'wr', 'popularity']].head(25)

                                       title        wr  popularity
352                             Forrest Gump  8.050640   48.307194
2242                       Life Is Beautiful  7.974992   39.394970
9763                    Howl's Moving Castle  7.683828   16.136048
45167                             La La Land  7.677668   19.681686
22516                                    Her  7.652322   13.829515
12789                                 WALLÂ·E  7.638781   16.088366
7253   Eternal Sunshine of the Spotless Mind  7.625321   12.906327
2775                         American Beauty  7.602620   20.726578
10378            Dilwale Dulhania Le Jayenge  7.572826   34.457024
1647                       Good Will Hunting  7.552548   15.064833
44363                             Your Name.  7.535617   34.461252
25599               The Theory of Everything  7.511218   11.853020
4880                                  AmÃ©lie  7.511218   12.879381
7882                            The Notebook  7.404016   15.239013
4902                        A Beautiful Mind  7.397627   11.936460
19700        The Perks of Being a Wallflower  7.394941   12.775679
1663                                 Titanic  7.380807   26.889070
21762                             About Time  7.369520   11.213913
23980                 The Fault in Our Stars  7.362609   16.274653
15670                             Mr. Nobody  7.338314   11.817059
13148                    Slumdog Millionaire  7.295329   11.258181
896                               Casablanca  7.292692   13.916101
39487                          Me Before You  7.271411   34.347590
2209                     Edward Scissorhands  7.265221   17.612244
887                                  Vertigo  7.251343   18.208220